{{! Numpy Docstring Template }}
{{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}

{{#parametersExist}}
Parameters
----------
{{#args}}
{{var}} : {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
{{var}} : {{descriptionPlaceholder}}
    optional, by default {{&default}}
{{/kwargs}}
{{/parametersExist}}

{{#returnsExist}}
Returns
-------
{{#returns}} {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}

{{#yieldsExist}}
Yields
-------
{{#yields}}
{{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/yields}}
{{/yieldsExist}}

{{#exceptionsExist}}
Raises
------
{{#exceptions}}
{{type}}
    {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}